html {
  font-size: 10px;
  background: black;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.key {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  color: white;
  transition: all 0.7s ease;
}

.playing {
  height: 50px;
  width: 50px;
  color: cornflowerblue;
  border-radius: 50%;
}